/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/Clustered-NonClusteredIndex.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/CreateTABLE(s)andTempTable(s).pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/DELETEStatementindetail.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/DeleteVSTruncate.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/IndexFragmenationAndLab.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/INSERTStatementindetail.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/OperatorsExpressionsandConditions.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/Select+from+two+tables+-+JOINS.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/SELECTStatementWithDetails.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatisAFunction.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatIsAnIndexandItsType.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatisATrigger.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatIsAView.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WHEREClauseOrderByClauseGroupByClauseHavingClause.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ExploringSQLServerConfigurationManager.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ExploringSQLServerManagementStudio.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ModelandResourceSystemDatabases.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/OverviewofMSSQLManagementTools.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/SystemDatabases.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsMasterDatabase.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsMSDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsTempDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/MSSQLArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/MSSQLDatabaseArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/TheOperationAndWorkingOfTransactionLog.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/WhatarePagesAndExtentsandtheirArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/BackupofaDatabaseanditsImportanceforDBA.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/DBCCCheckDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/DifferentialBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/FullBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/FullDatabaseRestore.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/RecoveryModelinMSSQL.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/RestoreAndRecoveryOverview.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/TransactionLogBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/AuthenticationModes.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/DatabaseUsersAndDatabaseRoles.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/Permissions.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/SecurityModel.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/SQLServerLoginsandSQLServerRoles.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentAlertsOperators.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentIntro.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentJobsSchedules.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentAlertsOperators.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentIntro.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentJobsSchedules.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/AvailabilityAndItsTypes.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/Replication.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/SQLServerEncryptionAndTypes.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/LogShippingAndConfiguringLogShipping.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/TDEEncryption.pdf
/Training/MSSDatabaseAdministrationCourse/CourseOverview/SQLCheatSheat.docx
/Training/MSSDatabaseAdministrationCourse/CourseOverview/SQLServerDBAQuestions.docx

_pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
#/PythonBootcamp/PythonBasics/Python Basics Cheat Sheet.pdf
/TrainingPythonBootcamp/.idea
/TrainingPythonBootcamp/Strings/Strings Cheat Sheet.pdf
/Training/Loops/Flow Control and Loops Cheat Sheet.pdf

/Training/PythonBootcamp/Dictionaries/Dictionaries Cheat Sheet.pdf
/Training/PythonBootcamp/Dictionaries/phonetic_alphabet.csv


/Training/PythonBootcamp/Sets_and_Frozensets/Sets Cheat Sheet.pdf

/Training/PythonBootcamp/Tuples/Tuples Cheat Sheet.pdf
main

/Training/PythonBootcamp/Functions/Functions Cheat Sheet.pdf
/Training/PythonBootcamp/TextFiles/settings.txt
/Training/PythonBootcamp/TextFiles/Working Files Cheat Sheet.pdf
/Training/PythonBootcamp/HandsOnChallengesTextFiles/macs.txt
/Training/PythonBootcamp/HandsOnChallengesTextFiles/sample_file.txt
/Training/PythonBootcamp/HandsOnChallengesTextFiles/file.txt
/Training/PythonBootcamp/HandsOnChallengesTextFiles/american-english.txt
/Training/PythonBootcamp/HandsOnChallengesTextFiles/banking.txt
/Training/PythonBootcamp/ErrorsAndExceptionHandling/Exceptions Cheat Sheet.pdf
/Training/PythonBootcamp/ClassesAndObjects/OOP Cheat Sheet.pdf
/Training/PythonBootcamp/BuiltInModules/the_os_module.py
/Training/PythonBootcamp/BuiltInModules/test_email.html
/Training/PythonBootcamp/BuiltInModules/python.pdf
/Training/PythonBootcamp/Decorators/closures.py
/Training/PythonBootcamp/Decorators/a.txt
/Training/PythonBootcamp/CSVFiles/airtravel.csv
/Training/PythonBootcamp/CSVFiles/people.csv
/Training/PythonBootcamp/ExcelFiles/store.xlsx
/Training/PythonBootcamp/ExcelFiles/sales.xlxs
/Training/PythonBootcamp/Pandas/salaries.xlsx
/Training/PythonBootcamp/Pandas/countries_of_the_world.csv
/Training/PythonBootcamp/DataVisualizationWithPlotly/houses.csv
/Training/PythonBootcamp/DataVisualizationWithPlotly/gold_monthly_price.csv
/Training/PythonBootcamp/DataVisualizationWithPlotly/countries_of_the_world (1).csv
/Training/PythonBootcamp/RequestsAndWebScraping/movies-2019.xlxs

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
onlinestore/frontend/onlinestore/node_modules
onlinestore/frontend/onlinestore/.angular
onlinestore/frontend/onlinestore/.vscode
onlinestore/venv
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/onlinestore/.idea/
/.idea/
/Training/.idea/

/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/WebApplication1/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/Deployment/DataFlowControl/.vs/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/Deployment/DataFlowControl/bin/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/Deployment/DataFlowControl/obj/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/Deployment/DataFlowControl/.vs/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/Deployment/DataFlowControl/.vs/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/.vs/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/ControlFlowTraining/.vs/

/Training/MasteringSSISPart1/DataMigrationTechniques/.vs/
/Training/MasteringSSISPart1/DataMigrationTechniques/.idea/
/Training/MasteringSSISPart1/DataMigrationTechniques/Output/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/Project.params
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/DataFlowTraining.dtproj.user
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/DataFlowTraining.dtproj
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/DataFlowTraining.database

/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/bin/
/Training/MasteringSSISPart1/DataMigrationTechniques/SSISDemos/DataFlowTraining/DataFlowTraining/obj/
/onlinestore/node_modules/
/onlinestore/package-lock.json
/onlinestore/package.json
/onlinestore/.idea


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous

# System files
/Training/PowerBIDesktopForBI/Resources/
/Training/PowerBIDesktopForBI/AdventureWorks/Resources/
/Training/PowerBIDesktopForBI/MavenMarket_Project/Resources/
/Training/PowerBIDesktopForBI/Resources/
/Training/PowerBIDesktopForBI/AdventureWorks/Resources/
/Training/PowerBIDesktopForBI/MavenMarket_Project/Resources/
/Training/DIAD/DIad/Letter/
/Training/DIAD/DIad/Data/
/Training/DIAD/DIad/A4/
/Training/DIAD/DIad/VanArsdel_Logo.png
/Training/DIAD/DIad/Reports/Solutions/
