/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/Clustered-NonClusteredIndex.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/CreateTABLE(s)andTempTable(s).pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/DELETEStatementindetail.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/DeleteVSTruncate.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/IndexFragmenationAndLab.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/INSERTStatementindetail.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/OperatorsExpressionsandConditions.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/Select+from+two+tables+-+JOINS.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/SELECTStatementWithDetails.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatisAFunction.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatIsAnIndexandItsType.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatisATrigger.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WhatIsAView.pdf
/Training/MSSDatabaseAdministrationCourse/QueryAndManipulationOfDataUsingSQL/WHEREClauseOrderByClauseGroupByClauseHavingClause.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ExploringSQLServerConfigurationManager.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ExploringSQLServerManagementStudio.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/ModelandResourceSystemDatabases.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/OverviewofMSSQLManagementTools.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/SystemDatabases.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsMasterDatabase.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsMSDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSDataAdministrationAndSystemDatabases/WhatIsTempDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/MSSQLArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/MSSQLDatabaseArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/TheOperationAndWorkingOfTransactionLog.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLWorking/WhatarePagesAndExtentsandtheirArchitecture.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/BackupofaDatabaseanditsImportanceforDBA.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/DBCCCheckDB.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/DifferentialBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/FullBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/FullDatabaseRestore.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/RecoveryModelinMSSQL.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/RestoreAndRecoveryOverview.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLBackupAndRestore/TransactionLogBackups.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/AuthenticationModes.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/DatabaseUsersAndDatabaseRoles.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/Permissions.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/SecurityModel.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLUserManagement/SQLServerLoginsandSQLServerRoles.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentAlertsOperators.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentIntro.pdf
!/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentJobsSchedules.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentAlertsOperators.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentIntro.pdf
/Training/MSSDatabaseAdministrationCourse/MSSQLServerAgentManagement/SQLServerAgentJobsSchedules.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/AvailabilityAndItsTypes.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/Replication.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/SQLServerEncryptionAndTypes.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/LogShippingAndConfiguringLogShipping.pdf
/Training/MSSDatabaseAdministrationCourse/AdvancedSQLServerAdministrationTopics/TDEEncryption.pdf
/Training/MSSDatabaseAdministrationCourse/CourseOverview/SQLCheatSheat.docx
/Training/MSSDatabaseAdministrationCourse/CourseOverview/SQLServerDBAQuestions.docx
/Training/.idea/
/onlinestore/.idea/
/.idea/
/Training/.idea/
/Training/QueryingMSSQLWithT-SQL/.idea/
